div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f0f8ff;
}

mat-card {
  margin: 3%;
  width: 10vw;
}

mat-card-header {
  text-align: center;
}

mat-card-actions {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}